<template name="organizations">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Customer Organizations <small>User Groups</small>
                        </h1>
                    </div>
                </div>


                <!-- /.row -->
                <div class="row">
                  {{#if orgIsDone}}

                  <div class="col-md-8 col-md-offset-4">
                      <h2 class="text-success">Organization added - Add another?</h2>
                      <div class="row">
                        <div id="orgAdminButtons" class="col-md-offset-2">
                          <button type="button" class="btn btn-default btn-org-yes" name="Yes">Yes</button>
                          <button type="button" class="btn btn-success btn-no" name="No">No</button>
                        </div>
                      </div>
                  </div>
                  {{else}}

                	<div class="col-md-6 col-md-offset-2">
                    <form id="newOrg" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputOrgName" class="col-sm-4 control-label">Organization Name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputOrgName" placeholder="ex. 2ID/3BCT" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress" class="col-sm-4 control-label">Address</label>
                        <div class="col-sm-8">
                          <textarea name="inputAddress" id="inputAddress" maxlength="200" spellcheck="false" wrap="hard" cols="33" rows="5" placeholder="Enter Valid Physical address here. Address deliverable to via commercial carrier" required></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputSAddress" class="col-sm-4 control-label">Secure Address</label>
                        <div class="col-sm-8">
                          <textarea name="inputSAddress" id="inputSAddress" maxlength="200" spellcheck="false" wrap="hard" cols="33" rows="5" placeholder="Enter Valid Physical address here. Address deliverable to via commercial carrier or USPS. Unique address for high value items. Address will be validated."></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="SecEmail" class="col-sm-4 control-label">POC E-mail</label>
                        <div class="col-sm-8">
                            <input type="email" id="SecEmail" class="form-control" placeholder="Account Manager email for address validation">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                          <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                      </div>
                    </form>

                	</div>
                  {{/if}}
                </div>

            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

</template>
