<template name="dashboard">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Logistics Overview</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                	<div class="col-lg-12">

                    {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=nonsenseChart}}

                	</div>
                </div>

				<div class="row">
					<div class="col-lg-12">
						<div class="jumbotron">
							some graphs here
						</div>
					</div>
				</div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

</template>
