<template name="email">
<form id="signup" class="form-inline" role="form">
	{{#if isDone}}
		<p>Email Sent! Thank you for your interest</p>
	{{else}}
		<div class="form-group">
			<input type="email" class="form-control" name="lead_email" placeholder="Enter your email address">
		</div>
		<button type="submit" id="submit" value="Submit" class="btn btn-warning btn-lg">Invite Me!</button>
	{{/if}}
</form>
</template>