<template name="createRMA">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            NEW RMA<small>work order</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                	<div class="col-md-6 col-md-offset-2">
                    <form id="newRMA" class="form-horizontal">

                      <div class="form-group">
                        <label for="partNumber" class="col-sm-4 control-label">Part Number</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="partNumber" placeholder="find the partnumber on the thing" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="serialNumber" class="col-sm-4 control-label">Serial Number</label>
                        <div class="col-sm-8">
                          {{#each input}}
                            <input type="text" id="input{{index}}" placeholder="input{{index}}">
                            <br>
                          {{/each}}
                          <a href="#" class="addInput"><h3><i class="fa fa-plus-square-o fa-5"></i></h3></a>


                        </div>
                      </div>

                      <div class="form-group">
                        <label for="failureDescription" class="col-sm-4 control-label">Failure Description</label>
                        <div class="col-sm-8">
                          <textarea name="failureDescription" id="failureDescription" maxlength="200" spellcheck="true" wrap="hard" cols="33" rows="5" placeholder="Enter a concice description of the failure conditions. Ex. -does not boot at low temperature- or -intermittant power failure- NOT -doesn't work- or -return for repair- "></textarea>
                        </div>
                      </div>
                      {{#if isInRole 'Admin'}}
                      <div class="form-group">
                        <label for="user" class="col-sm-4 control-label" >Assign User</label>
                        <div class="col-sm-8">
                          <select id="user">
                            {{#each users}}
                            <option value={{profile.userName}}>{{profile.userName}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="organization" class="col-sm-4 control-label">Assign Organization</label>
                        <div class="col-sm-8">
                          <select id="organization">
                            {{#each orgs}}
                            <option value={{_id}}>{{orgName}}</option>
                            {{/each}}

                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 control-label" for="isInWarranty">Warrantied</label>
                        <div class="col-sm-8">
                          <div class="input-group">

                              <span class="input-group-addon">
                                <label>False</label>
                                <input type="radio" name="isInWarranty" value=false>
                              </span>
                              <span class="input-group-addon">
                                <label>True</label>
                                <input type="radio" name="isInWarranty" value=true>
                              </span>
                          </div>


                        </div>

                      </div>
                      {{/if}}
                      <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                          <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                      </div>
                    </form>

                	</div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

</template>
