<template name="viewRMA">
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            {{>orgHeader}}
            <small>Open Work Orders</small>
          </h1>
        </div>

      </div>
      <!-- end row -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered">
            <tr>

                <th>P/N</th>
                <th>S/N</th>
                <th>Dates</th>
                <th>Owner</th>
                <th>Warrantied</th>
                <th>Priority</th>

            </tr>
            <!-- each return -->
            <tbody>

              {{#each returns}}
              <tr>
                <td>{{partNumber}}</td>
                <td>
                  <ul>
                    {{#each serialNumbers}}
                    <li>{{this}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Date Opened: {{dateOpened}}</li>
                    <li>User Shipped</li>
                    <li>Depot Recieved</li>
                  </ul>
                </td>
                <td> {{returnOwner.profile.userName}}</td>
                <td>{{isInWarranty}}</td>
                <td> maybe only show if in priority? </td>
                <td> <a href="/rma/{{_id}}"><button class="btn btn-default" id="editUser" name="editUser">Edit</button> </a></td>
                <td> <button class="btn btn-danger" id="deleteUser" name="deleteUser">Delete</button> </td>
              </tr>
              {{/each}}
              </tbody>
            <!-- end each -->
          </table>


        </div>
      </div>
    </div>
  </div>
</template>
