<template name="rmaUpdate">
  <div id="page-wrapper">
    <div class="container-fluid">


      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            {{>orgHeader}} <small>{{partNumber}}</small>
          </h1>
          <h3>Edit and update fields as necessary.</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-2">
          <form id="updateRMA" class="form-horizontal">

            <div class="form-group">
              <label for="partNumber" class="col-sm-4 control-label">
                Part Number
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="partNumber" placeholder="{{partNumber}}">
              </div>
            </div>

            {{#each serialNumbers}}
            <div class="form-group">
              <label for="serialNumber" class="col-sm-4 control-label">Serial Number</label>
              <div class="col-sm-8">
                <input type="text" id="{{@index}}" placeholder="{{this}}">
              </div>
            </div>
            {{/each}}

            <div class="form-group">
              <label for="failureDescription" class="col-sm-4 control-label">Failure Description</label>
              <div class="col-sm-8">
                <textarea name="failureDescription" id="failureDescription" maxlength="200" spellcheck="true" wrap="hard" cols="33" rows="5" placeholder="{{failureDescription}}"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="unitShipped" class="col-sm-4 control-label">Unit Shipping info</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="unitTracking" placeholder="Enter your Tracking number">
              </div>
            </div>

            {{#if isInRole 'Admin'}}

            <div class="form-group">
              <label for="depotShipped" class="col-sm-4 control-label">Depot Shipping info</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="depotTracking" placeholder="Depot Admin enter your Tracking number">
              </div>
            </div>

<!-- seems like a better idea to not change the user/organization and just create new RMA -->

            <!-- <div class="form-group">
              <label for="user" class="col-sm-4 control-label" >Current User: <br> <small> {{currentUser.profile.userName}}</small> </label>
              <div class="col-sm-8">
                <select id="user">
                  {{#each users}}
                  <option value={{profile.userName}}>{{profile.userName}}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="organization" class="col-sm-4 control-label">Current Organization: <br> <small>{{currentOrg.orgName}}</small> </label>
              <div class="col-sm-8">
                <select id="organization">
                  {{#each orgs}}
                  <option value={{_id}}>{{orgName}}</option>
                  {{/each}}

                </select>
              </div>
            </div> -->

            <div class="form-group">
              <label class="col-sm-4 control-label" for="isInWarranty">Warrantied</label>
              <div class="col-sm-8">
                <div class="input-group">

                    <span class="input-group-addon">
                      <label>False</label>
                      <input type="radio" name="isInWarranty" value=false>
                    </span>
                    <span class="input-group-addon">
                      <label>True</label>
                      <input type="radio" name="isInWarranty" value=true>
                    </span>
                </div>


              </div>

            </div>
            {{/if}}
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>


          </form>
        </div>
      </div>


    </div>
  </div>
</template>
